.products--grid {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90vh;
}

.product-detail {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 60%;
    background-color: white;
    transform: translate(100%);
    transition: all ease-out 0.5s;
    text-align: center;
    &.active {
        transform: translateX(0);
    }
    
}
.img-slider {
   width: 90%;
   
}

//tablets
@media  screen and (min-width:40em) and (max-width:63.9em) {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }    
}

//web
@media  screen and (min-width:64em)  {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    } 
}