
<div  class="products--grid">
    <app-product    
    *ngFor="let item of products" [product]="item"
    (showDetailProduct) = "detailIdProduct($event)"
    (addedProduct)="onAddToShoppingCart($event)"
    >    
    </app-product>   
</div>
<div *ngIf="product" [class.active] = "showDetail" class="product-detail">
    <div>
        <button (click)="showLateralDetail()">close</button>
        <p>{{ product.title }}</p>
        <swiper>
        [slidesPerView]="3"
        [spaceBetween]="50"
        <ng-template swiperSlide *ngFor="let image of product.images"><img [src]="image" alt=""></ng-template>    
      </swiper>
        <p>{{product.description}}</p>
        <h2>{{ product.price }}</h2>
    </div>
</div>
